* text=auto
*.bat eol=crlf
*.sh eol=lf
*.java text
*.jar -text
*.txt text
*.svg text
*.xml text
*.html text
*.htm text
*.jsp text
*.gif -text
*.jpg -text
*.png -text
*.jpeg -text
*.bmp -text
*.xhtml text
*.xsd text
*.rb text
.git* export-ignore